.corpusbuilder {
  &-viewer:not(:first-child) {
    border-left: 1px solid #ddd;
  }

  &-viewer {
    background-color: #f2f2f2;
    display: inline-block;
    box-sizing: content-box;
    font-family: sans-serif;
    position: relative;
    flex: auto;
    flex-basis: 50%;
    flex-grow: 0;

    &-subcontext {
      padding: 5px 20px 5px;
      margin-top: 6px;
      background: rgba(0,0,0,0.1);

      span {
        font-size: 13px;
      }
    }

    &-status {
      padding: 5px 0px 5px;
      margin-bottom: 8px;
      margin-top: 0px;

      &-conflict, &-editing {
        background: rgba(255, 255, 255, 0.75);
        color: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        text-align: center;

        span {
          font-size: 12px;
          border-radius: 2px;
          font-weight: normal;
          padding: 5px;
          display: inline-block;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px rgba(0, 0, 0, 0.08);
          color: white;
          background-color: #cacaca;
        }

        &-message {
          margin: 0 auto;
        }

        span.warning {
          margin-right: 10px;
          background: rgba(200, 10, 10, 0.5);
          padding: 4px;
          color: white;
          border-radius: 2px;
        }
      }

      span {
        font-size: 13px;
      }
    }

    svg {
      margin: 20px;
      padding: 20px;
      box-sizing: content-box;
    }

    &-contents {
      position: relative;

      &-wrapper {
        position: relative;
        transition: top 0.25s ease-in-out;
        height: 100%;
      }
    }
  }

  &-document-diff-switcher {
    button {
      font-size: 8px !important;
    }

    .dd-menu {
      button {
        font-size: 14px !important;
      }
    }

    span {
      display: inline-block;
      padding: 2px 10px;
    }
  }

  &-viewer-editing {
    background-color: #ddd;
  }
}
