.corpusbuilder {
  &-viewer {
    border: 2px solid #dfdfdf;
    display: inline-block;
    position: relative;
    font-family: sans-serif;
  }

  &-options {
    height: 30px;
    padding: 5px;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;

    button {
      height: 100%;
      border: none;
      color: #777;
      background-color: #ddd;
      cursor: pointer;
      width: 30px;
      font-weight: bold;
      font-size: 14px;
      margin-right: 5px;
    }

    button[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    span {
      margin-right: 10px;
    }

    .dropdown {
      display: inline-block;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: white;
      margin-right: 5px !important;
      border: 1px solid #ddd;
    }

    .dropdown__trigger {
      background-color: white;
      width: 100%;
      height: 100%;
      display: block;
    }

    .dropdown__trigger:after {
      content: '▾';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .dropdown--active {
      .dropdown__trigger:after {
        content: '▴';
      }

      .dropdown__content {
        display: block;
        z-index: 999;
        min-width: 100px;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        margin-left: -10px;

        ul {
          list-style-type: none;
          padding: 0px;
          margin: 0px;

          li {
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
          }

          li:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
