.corpusbuilder {
  &-viewer:nth-child(2) {
    box-shadow: -1px 0px 0px #ddd;
  }

  &-viewer {
    background-color: #f2f2f2;
    display: inline-block;
    box-sizing: content-box;
    font-family: sans-serif;
    flex: auto;
    padding-bottom: 45px;
    position: relative;

    &-subcontext {
      padding: 5px 20px 5px;
      margin-top: 6px;
      background: #ddd;

      span {
        font-size: 13px;
      }
    }

    svg {
      margin: 20px;
      background: white;
      padding: 12px;
      box-sizing: content-box;
    }

    &-contents {
      position: relative;

      &-wrapper {
        position: relative;
        transition: top 0.25s ease-in-out;
      }
    }
  }

  &-viewer-editing {
    background-color: #ddd;
  }
}
