.corpusbuilder {
  &-diff {
    &-nodata {
        color: #ddd;
        display: inline;
    }

    &-conflict-options {
      margin-top: 10px;
    }

    .corpusbuilder-highlight-line {
      &-added {
        background: rgba(43, 102, 28, 0.50);
        opacity: 1;
      }

      &-modified {
        background: rgba(243, 168, 60, 0.50);
        opacity: 1;
      }

      &-deleted {
        background: rgba(236, 51, 36, 0.50);
        opacity: 1;
      }

      &-conflict:after {
        content: "!";
        position: absolute;
        top: -22px;
        right: -22px;
        font-family: serif;
        display: block;
        background: rgba(200, 20, 20, 1);
        color: white;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        width: 25px;
        height: 25px;
        border-radius: 100px 100px 100px 0px;
        opacity: 1;
      }
    }

    &-label {
      font-size: 14px;
      margin-bottom: 6px;
    }

    &-separator {
      text-align: center;
      background: white;
      border-top: 1px dashed #ddd;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 8px;

      .fa {
        position: relative;
        margin: 0 auto;
        background: white;
        top: -10px;
        color: #ddd;
        font-size: 18px;
        padding: 4px;
      }
    }
  }
}
