.corpusbuilder {
  &-diff {
    .corpusbuilder-highlight-line {
      &-added {
        background: green;
      }

      &-modified {
        background: orange;
      }

      &-deleted {
        background: red;
      }
    }
  }
}
