.corpusbuilder {
  &-diff {
    &-nodata {
        color: #ddd;
        display: inline;
    }

    .corpusbuilder-highlight-line {
      &-added {
        background: rgba(43, 102, 28, 0.50);
        opacity: 1;
      }

      &-modified {
        background: rgba(243, 168, 60, 0.50);
        opacity: 1;
      }

      &-deleted {
        background: rgba(236, 51, 36, 0.50);
        opacity: 1;
      }

      &-conflict:after {
        content: "!";
        position: absolute;
        top: -15px;
        right: -15px;
        display: block;
        background: red;
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        opacity: 1;
      }
    }

    &-label {
      font-size: 14px;
      margin-bottom: 6px;
    }

    &-separator {
      text-align: center;
      background: white;
      border-top: 1px dashed #ddd;
      height: 1px;
      margin-top: 15px;
      margin-bottom: 8px;

      .fa {
        position: relative;
        margin: 0 auto;
        background: white;
        top: -10px;
        color: #ddd;
        font-size: 18px;
        padding: 4px;
      }
    }
  }
}
