.corpusbuilder-progress-indicator {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999999;
  text-align: center;
  padding-top: 30%;
  background: rgba(0,0,0,0.1);

  &-items {
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    background: white;
    color: #777;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
  }

  &-item {
    clear: both;
  }

  &-item:not(:nth-child(2)) {
      border-top: 1px dashed white;
  }

  &-spinner {
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 0.95;
    transform: scale(0.5) translateY(30px);

    > div {
      margin: 0 auto;
    }
  }
}
