.corpusbuilder {
  &-inline-editor {
    &-buttons {
      margin-top: 10px;
      float: right;
    }

    &-messages {
      font-size: 12px;
      padding: 2px;
      text-align: center;
      background: rgba(200, 30, 30, 0.5);
      color: rgba(120, 0, 0, 1);
      border: 1px solid rgba(200, 30, 30, 0.5);
      margin-bottom: 10px;
    }

    &-preview {
      &-wrapper {
        position: relative;
      }

      &-source {
        display: none;
      }
    }

    &-canvas-area {
      position: relative;
    }

    &-help {
      font-size: 12px;
      float: left;
      margin-right: 5px;
      margin-top: 14px;
      padding: 2px;
      border-radius: 2px;
      background-color: #bbb;
      color: white;
      font-weight: normal;
    }
  }
}
