.corpusbuilder {
  &-inline-editor {
    &-buttons {
      margin-top: 10px;
      float: right;
    }

    &-messages {
      font-size: 12px;
      text-align: center;
      background: white;
      color: #780000;
      margin-bottom: 10px;
      position: absolute;
      top: -17px;
      width: 100%;
      margin-left: 0px;
      left: 0px;
      padding: 5px;
    }

    &-help {
      font-size: 12px;
      float: left;
      margin-right: 5px;
      margin-top: 14px;
      padding: 2px;
      border-radius: 2px;
      background-color: #bbb;
      color: white;
      font-weight: normal;
    }
  }
}
