.corpusbuilder {
  &-inline-editor {
    &-buttons {
      margin-top: 10px;
      position: relative;

      &-aside {
        display: inline-block;
        position: absolute;
        right: 0px;
      }
    }

    &-messages {
      font-size: 12px;
      text-align: center;
      background: white;
      color: #780000;
      margin-bottom: 10px;
      position: absolute;
      top: -17px;
      width: 100%;
      margin-left: 0px;
      left: 0px;
      padding: 5px;
    }

    &-shell {
      white-space: pre;
      font-family: Lato, Helvetica, Arial, sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 1px;
      background-color: rgba(0, 0, 0, 0.04);
      color: black;
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
      height: 35px;
      cursor: text;
      position: relative;

      input {
        margin: 0px;
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        position: absolute;
      }

      input:hover, input:focus, input:active {
        background-color: transparent;
      }
    }

    &-help {
      font-size: 12px;
      display: inline-block;
      position: absolute;
      right: 0px;
      margin-top: 4px;
      padding: 5px;
      border-radius: 2px;
      background-color: #ccc;
      color: white;
      font-weight: normal;
    }
  }
}
