.bundle

log/*
tmp/*

.byebug_history
*.swp
*.swo
*.swn
*.swm

node_modules
postgres/
public/packs
public/uploads
node_modules
tags
.env
config/database.yml
spec/support/uploads
.irb_history
vendor/bundle
