.corpusbuilder {
  &-window-manager {
    background-color: #f2f2f2;

    &-options {
      width: auto;
      position: absolute;
      left: 430px;
      margin-top: -56px;
      background: none;

      .dropdown__content {
        bottom: 30px;
      }
    }
  }

  &-global-options {
    background: #d0d0d0;
  }

  &-tabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

    .corpusbuilder-button {
      margin: 0px;
      box-shadow: none;
      background: inherit;
      font-weight: normal;
      padding: 0px;
    }

    div {
      background: #dfdfdf;
      min-width: 120px;
      text-align: center;
      color: #777;
      font-size: 13px;
      cursor: pointer;
      border-right: 1px solid #bbb;
    }

    &-active {
      background: #f2f2f2 !important;
    }

  }
}
