.corpusbuilder {
  font-family: Lato, Helvetica, Arial, sans-serif;

  &-window-manager {
    background-color: #f2f2f2;
    position: relative;

    > div:first-child {
      display: flex;
      flex-direction: row;
    }

    &-options {
      width: 162px;
      height: auto;
      padding: 10px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: 0 auto;
      background-color: #ddd;

      .dd-menu {
        .corpusbuilder-button {
          font-size: 12px !important;
        }

        .dd-menu-items {
          width: 100%;
        }
      }

      .dropdown__content {
        bottom: 30px;
      }
    }
  }

  &-global-options {
    background: #d0d0d0;
  }

  &-tabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

    .corpusbuilder-button {
      margin: 0px;
      box-shadow: none;
      background: inherit;
      font-weight: normal;
      padding: 0px;
    }

    div {
      background: #dfdfdf;
      min-width: 120px;
      text-align: center;
      color: #777;
      font-size: 13px;
      cursor: pointer;
      border-right: 1px solid #bbb;
    }

    &-active {
      background: #f2f2f2 !important;
    }

  }
}
