.corpusbuilder-uploader {
  background-color: #f2f2f2;
  position: relative;
  line-height: 1;
  border: 1px solid #e7e7e7;
  padding: 1.25rem;
  color: #777 !important;
  font-size: 14px;
  margin-bottom: 20px;

  .corpusbuilder-languages-input {
    display: inline-block;
    margin-left: 10px;
  }

  &-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-model-selection {
    &-title {
      font-size: 1em;
      margin: 1rem 0;
    }

    &-item {
      background: rgba(255, 255, 255, 0.5);
      width: 100%;
      margin-top: 1rem;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      display: flex;

      &-info {
        padding: 1rem;
        flex: auto;
      }

      &-actions {
        flex: initial;
        width: 50px;
        text-align: center;
        padding: 1rem;
        background: white;
      }

      &-name {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      &-description {
      }

      &-list {
        &-item {
          padding-bottom: 0.25rem;

          &-item {
            background: rgba(0, 0, 0, 0.05);
            padding: 0.25rem;
            border-radius: 4px;
            margin-right: 0.25rem;
            display: inline-block;
          }

          &-label {
            width: 60px;
            margin-right: 1rem;
            display: inline-block;
          }
        }
      }

      &-scripts {
      }

      &-version-code {
        color: #ccc;
        font-weight: normal;
        display: inline-block;
        margin-left: 0.5rem;
      }
    }
  }

  &-images-ready {
    padding: 2px;
    min-height: 300px;

    &-backend {
      margin-top: 15px;

      span { margin-right: 10px; }
    }

    .corpusbuilder-uploader-images-upload-files {
      margin-top: 15px;
    }
  }

  &-images-upload {
    padding: 2px;

    &-buttons {
      margin-top: 10px;
    }

    &-files {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &-item {
        padding: 10px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        margin-bottom: 5px;
        flex-shrink: 0;
        display: flex;

        &-number {
          margin-top: 8px;
          color: #ccc;
        }

        &-name {
          flex-grow: 2;
          margin-top: 8px;
          margin-left: 10px;
        }

        &-size {
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 8px;
          width: 50px;
          text-align: center;
          color: #ccc;
        }

        .corpusbuilder-button-delete {
          background-image: linear-gradient(-180deg, #ee7a69 0%, #cc4b37 90%);
          color: white !important;
        }

        &-progress {
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 6px;
          width: 100px;
        }

        &-progress-done {
          width: auto !important;
        }
      }
    }

    &-dropzone > div:first-child {
      width: 100% !important;
      border: 4px dotted #ccc !important;
      margin-bottom: 15px;
      padding: 15px;
      text-align: center;
      color: #ccc;
      font-size: 50px;
      padding-top: 70px;
      cursor: pointer;
    }
  }

  &-similar-documents {
    padding: 2px;

    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item.clickable {
      cursor: pointer;
      text-align: center;
    }

    &-item {
      margin-top: 15px;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      max-width: 24%;
      min-width: 24%;
      padding: 15px;
      display: inline-block;
      margin-left: 10px;
      flex-grow: 1;

      &-body {
        display: table;
        margin-bottom: 10px;
      }

      &-preview {
        margin-bottom: 10px;
      }

      &-row {
        display: table-row;
        line-height: 150%;
      }

      &-label, &-value {
        display: table-cell;
      }

      &-label {
        font-weight: bold;
        color: #555;
      }

      &-top-label {
        color: #aaa;
        font-size: 0.9em;
        margin-bottom: 10px;
      }

      &-top-label-big {
        margin-top: 70%;
        font-size: 80px;
        color: #bbb;
      }
    }

    &-item.picked {
      border: 2px solid rgba(0,0, 255, 0.5);
    }
  }
}
