.corpusbuilder {
  &-categories-input {
    .ReactTags__tags {
      background-color: rgba(0, 0, 0, 0.04);
      color: black;
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
      margin-top: 10px;
      border-radius: 1px;
      padding: 5px;
    }

    .ReactTags__selected {
      display: flex;
      flex-wrap: wrap;
    }

    .ReactTags__suggestions {
      position: absolute;
      box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.4);
      background: white;
    }

    .ReactTags__suggestions ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    .ReactTags__suggestions li {
      padding: 5px 10px;
    }

    .ReactTags__suggestions li:not(:last-child) {
      border-bottom: 1px dashed #ddd;
    }

    span.ReactTags__tag {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      margin: 0px 2px;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      height: 30px;
      line-height: 30px;
      margin-top: 4px;
      background-image: linear-gradient(-180deg, #fafafa 0%, #eaeaea 90%);
      padding: 0px 10px;
      padding-right: 5px;
      box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.4);
      color: #777;
    }

    a.ReactTags__remove {
      color: white;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 5px;
      background: rgba(0,0,0,0.3);
      top: 0px;
      position: relative;
      line-height: 12px;
      border-radius: 2px;
      text-align: center;
      padding: 0px;
      vertical-align: middle;
    }

    .ReactTags__tagInput {
      flex-grow: 10;
      flex: auto;
    }

    input.ReactTags__tagInputField::-webkit-input-placeholder  {
      font-weight: normal;
      color: rgba(0,0,0,0.2)
    }

    input.ReactTags__tagInputField::-moz-placeholder  {
      font-weight: normal;
      color: rgba(0,0,0,0.2)
    }

    input.ReactTags__tagInputField:-moz-placeholder  {
      font-weight: normal;
      color: rgba(0,0,0,0.2)
    }

    input.ReactTags__tagInputField:-ms-placeholder  {
      font-weight: normal;
      color: rgba(0,0,0,0.2)
    }

    input.ReactTags__tagInputField {
      margin: 0px;
      background: none;
      box-shadow: none;
      color: #777;
      font-weight: normal;
    }
  }
}
