.corpusbuilder {
  &-visual-preview {
    &-preview {
      &-wrapper {
        position: relative;
      }

      &-source {
        display: none;
      }
    }

    &-canvas-area {
      position: relative;
    }
  }
}
