.corpusbuilder {
  &-annotation-view:not(:first-child) {
    img {
      position: relative;
      top: 10px;
    }
  }

  &-annotation-view {
    display: flex;
    flex-direction: row;
    width: 100%;

    &-author {
      width: 45px;
    }

    &-controls {
      align-self: center;
    }

    &-body {
      vertical-align: top;
      flex-grow: 2;

      b {
        float: left;
        position: relative;
        top: 8px;
      }
    }
  }
}
