<div id="viewer">

</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
  let documentId = "43f158c6-fae8-4aef-b696-dd28024f6936";

  CorpusBuilder.init(
    document.getElementById('viewer'),
    {
      baseUrl: 'localhost.dev',
      documentId: documentId
    }
  );
});
</script>
