<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at urna at neque tincidunt varius ac a eros. Vestibulum ultrices lobortis lacus, sed condimentum orci hendrerit nec. Maecenas porttitor purus at orci facilisis dictum. Nulla facilisi. Duis a felis eros. Duis pulvinar risus eget egestas varius. Nullam tempus nisi quis metus egestas laoreet at eget sem. Proin id dapibus felis. Donec vel ultricies neque. Duis a pharetra libero. Nulla scelerisque commodo rhoncus. Sed metus ex, gravida a gravida sit amet, hendrerit vel metus. Etiam lacinia scelerisque volutpat. Curabitur urna nisl, feugiat a cursus at, dictum ac odio. Quisque at ante interdum, efficitur purus a, eleifend nisl. Donec vitae placerat risus.

  Duis nec dui elit. Nunc ultricies nec nulla eu viverra. In sit amet ligula iaculis eros mollis vehicula. Donec nec urna id est efficitur efficitur non quis justo. Donec fringilla scelerisque sollicitudin. Donec placerat in dui vel fringilla. Aliquam eget enim eget dui tempus rutrum a a nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum enim diam, aliquam vitae interdum sit amet, fermentum vitae arcu. Quisque placerat risus eget elementum maximus. Integer iaculis vitae est eget lacinia. Nullam elementum tempus elit, at consequat massa varius ut. Cras rutrum ultricies accumsan. Pellentesque sed neque at augue rhoncus sollicitudin.
</div>

<div id="viewer">

</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
  let documentId = "43f158c6-fae8-4aef-b696-dd28024f6936";

  CorpusBuilder.init(
    document.getElementById('viewer'),
    {
      baseUrl: 'localhost.dev',
      documentId: documentId,
      width: 400
    }
  );
});
</script>
