.corpusbuilder {
  &-highlight {
    &-line {
      background-color: yellow;
      border: orange;
      border-radius: 1px;
      position: absolute;
      opacity: 0.5;
      transform: translateX(20px);
    }
  }
}
