.corpusbuilder {
  &-popup-menu {
    position: absolute;
    padding: 10px;
    color: black;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 99999999;

    button {
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      color: black;
      border-radius: 1px;
    }
  }
}
