.corpusbuilder {
  &-options.bottom {
    height: 45px;
  }

  &-options, &-window-manager-options {
    height: 35px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 9999;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;

    button[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    span {
      margin-right: 10px;
    }

    .side-options {
      display: inline-block;
      float: right;
    }

    &-separator {
      display: inline-block;
      width: 10px;
    }

    .dropdown {
      display: inline-block;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #eaeaea;
      background-image: linear-gradient(-180deg, #fafafa 0%, #eaeaea 90%);
      color: #444;
      box-shadow: 0px 0.5px 1px rgba(0,0,0,0.4);
      position: relative;
    }

    .dropdown__trigger {
      color: #777;
      width: 100%;
      height: 100%;
      display: block;
    }

    .dropdown__trigger:after {
      content: '▾';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .dropdown--active {
      .dropdown__trigger:after {
        content: '▴';
      }

      .dropdown__content {
        display: block;
        z-index: 999;
        color: #777;
        font-size: 14px;
        min-width: 100%;
        background-color: #fff;
        box-shadow: 0px 0.5px 1px rgba(0,0,0,0.4);
        margin-left: -10px;
        max-height: 300px;
        overflow: scroll;

        ul {
          list-style-type: none;
          padding: 0px;
          margin: 0px;

          li {
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
          }

          li:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
