.corpusbuilder {
  &-options.bottom {
    height: 45px;
    width: 100%;
    bottom: 0px;
  }

  &-document-options {
    &-aside {
      float: right;
    }
  }

  &-options, &-window-manager-options {
    height: 35px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 9999;
    color: #777;
    font-size: 12px;

    .corpusbuilder-button {
      padding: 0px 18px 0px 10px;

      span {
        padding: 2px 8px;
        padding-right: 10px;
        margin-left: 6px;
        margin-right: 2px;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
      }
    }

    .dd-menu .corpusbuilder-button:after {
      content: '▾';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
      position: absolute;
      right: 7px;
      top: 0px;
    }

    .dd-menu-items .corpusbuilder-button:after {
      position: unset;
    }

    button[disabled] {
      opacity: 0.5;
      cursor: default;
      color: #777;
      box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.4);
    }

    span {
      margin-right: 10px;
    }

    span.corpusbuilder-document-options-editability {
      margin-right: 0px;
      width: 15px;
      display: inline-block;
      margin-left: 5px;
    }

    span.corpusbuilder-document-options-selection {
      width: 15px;
      display: inline-block;
      margin-right: 5px;
    }

    .side-options {
      display: inline-block;
      float: right;
    }

    &-separator {
      display: inline-block;
      width: 10px;
    }

    .dropdown {
      display: inline-block;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #eaeaea;
      background-image: linear-gradient(-180deg, #fafafa 0%, #eaeaea 90%);
      color: #444;
      box-shadow: 0px 0.5px 1px rgba(0,0,0,0.4);
      position: relative;
    }

    .dropdown__trigger {
      color: #777;
      width: 100%;
      height: 100%;
      display: block;
    }

    .dropdown__trigger:after {
      content: '▾';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .dropdown--active {
      .dropdown__trigger:after {
        content: '▴';
      }

      .dropdown__content {
        display: block;
        z-index: 999;
        color: #777;
        font-size: 14px;
        min-width: 100%;
        background-color: #fff;
        box-shadow: 0px 0.5px 1px rgba(0,0,0,0.4);
        margin-left: -10px;
        max-height: 300px;
        overflow: scroll;

        ul {
          list-style-type: none;
          padding: 0px;
          margin: 0px;

          li {
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
          }

          li:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
