.corpusbuilder {
    &-button[disabled] {
      opacity: 0.5;
      cursor: default;
      color: #777;
      box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.4);
    }

    &-button, &-button:active, &-button:focus {
      height: 30px;
      line-height: 30px;
      outline:none;
      padding: 0px 10px 0px;
      text-align: center;
      border: none;
      background-color: #eaeaea;
      background-image: linear-gradient(-180deg, #fafafa 0%, #eaeaea 90%);
      color: #777;
      box-shadow: 0px 0.5px 1px rgba(0,0,0,0.4);
      cursor: pointer;
      min-width: 30px;
      font-size: 14px;
      margin: 0px;

    }

    &-button-toggled, &-button-toggled:active, &-button-toggled:focus {
      background-image: linear-gradient(to top, #fafafa 0%, #eaeaea 90%);
    }

    &-button:hover {
      color: #777;
    }
}

.dd-menu {
  .corpusbuilder {
    &-button {
      margin: 0px;
    }

    &-button:after {
      content: '\25BE';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.nested-dd-menu {
  .corpusbuilder {
    &-button:after {
      content: '\25B8';
      font-size: 10px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
