.corpusbuilder {
  &-annotation-editor {
    b {
      float: right !important;
    }

    &-buttons {
      margin-top: 10px;
      float: right;
    }

    .corpusbuilder-help {
      font-size: 12px;
      padding: 4px 10px;
      text-align: center;
      background: #ddd;
      color: #777;
      border: 1px solid #ccc;
      margin-top: 10px;
    }

    form {
        select {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
  }
}
