.corpusbuilder {
  &-document-page {
    font-family: Helvetica;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  &-document-page.simple {
    color: #999;
  }
}
