.corpusbuilder {
  &-document-page-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;

    .dropdown__content {
      bottom: 30px;
    }

    button {
      font-size: 8px !important;
    }
  }
}
