.corpusbuilder {
  &-document-page-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;

    .dropdown__content {
      bottom: 30px;
    }

    button {
      font-size: 8px !important;
    }

    .dd-menu .corpusbuilder-button {
      font-size: 12px !important;
    }

    .dd-menu .corpusbuilder-button:active {
      font-size: 12px !important;
    }

  }

}

.corpusbuilder-nestedmenu-downwards span.dd-item-ignore {
  top: 0 !important;
  bottom: initial;
}
