.corpusbuilder {
  &-document-line {
    position: absolute;
    white-space: pre;
    unicode-bidi: normal;
  }

  &-document-line-editing {
    cursor: pointer;
  }

  &-document-line-editing:hover {
    background-image: none !important;
    background-color: rgba(167, 196, 229, 1.00);
    height: auto !important;
  }
}
