.corpusbuilder {
  &-document-line {
    position: absolute;
    white-space: pre;
    unicode-bidi: normal;
    left: 0px;
    right: 0px;
    transition: opacity 1s ease-in-out;

    &-word {
      position: absolute;
      transform-origin: top left;
    }
  }

  &-document-line-editing {
    cursor: pointer;

    span {
      cursor: pointer;
    }
  }

  &-document-line-editing-hover {
    background-image: none !important;
    background-color: rgba(167, 196, 229, 1.00);
  }
}
